* {
    box-sizing: border-box;
}

.body {
    display: table;
    border-collapse: collapse;
}

.body-row {
    display: table-row;
}

.first {
    border-right: 1px solid #00000047;
}

.day {
    width: 150px;
    padding: 1em;
    display: table-cell;
    border-bottom: 1px solid #00000047;
    font-weight: bold;
}

.last {
    border-left: 1px solid #00000047;
}
