.header {
    font-size: 40px;
    display: block;
    width: 100%;
    padding-bottom: 1em 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--neutral-color);
}

.header .icon {
    color: #00000054;
    cursor: pointer;
    transition: .15s ease-out;
}

.header .icon:hover {
    transition: .25s ease-out;
    color: #127beabf;
}

.header .icon:first-of-type {
    margin-left: 1em;
}

.header .icon:last-of-type {
    margin-right: 1em;
} 

.left {
    transform: translateY(100%);
}

.right {
    transform: translateY(-100%);
}